@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
